
<h1>
  Modulo A com funcionalidade inutil
</h1>
<p>
  Existe uma letra <b>{{ letter }}</b> no indice <b>{{ i }}</b>
</p>
<button (click)="i=i+1">next letter</button>

<dx-data-grid [dataSource]="[{id: 1, name: 'riheldo'}]"></dx-data-grid>