<h1>{{ title }}</h1>

<h2>Menu:</h2>
<ul>
  <li><a routerLink="/">Inicio</a></li>
  <li><a routerLink="/moda">Mod_A</a></li>
  <li><a routerLink="/modb">Mod_B</a></li>
  <li><a routerLink="/modc">Mod_C</a></li>
</ul>

<router-outlet></router-outlet>